.scMainDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.subPageDiv{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}