
.mainDiv{
    width: 450px;
    height: 450px;
    /* border: #621bd4 3px 2px 2px; */
    border-radius: 2rem;
    margin-top: 50px;
}
.mainDiv .vdiv{
    width: 370px;
    height: 420px;
    margin-right: 50px;

}

.vdiv:hover{
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #38240D;
    padding: 10px 10px 10px;

}

.vdiv span{
    color: #686057;
    /* margin-bottom: 80px; */
}

.channelDet{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    justify-content: center;
    margin-top: -25px;
}